<div class="card container" lw-if="leanweb.urlHashPath==='#/forget-password-send-code'">
   <div class="field">
      <div class="control has-icons-left">
         <input type="text" class="input auto-focus" lw-model="username" placeholder="Username/Email">
         <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
         </span>
      </div>
   </div>
   <div class="buttons">
      <button class="button is-primary is-fullwidth" lw-class:is-loading="isLoading" lw-on:click="sendCode()">Send
         Code</button>
      <button class="button is-link is-inverted is-small is-fullwidth" lw-on:click="backToLogin()">Back to
         login</button>
   </div>
</div>

<div class="card container" lw-if="leanweb.urlHashPath=='#/forget-password-reset-password'">
   <div class="field">
      <div class="control has-icons-left">
         <input type="password" class="input auto-focus" lw-model="password" placeholder="Password">
         <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
         </span>
      </div>
   </div>
   <div class="field">
      <div class="control has-icons-left">
         <input type="text" class="input" lw-model="vCode" placeholder="Verification Cdoe">
         <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
         </span>
      </div>
   </div>
   <div class="buttons">
      <button class="button is-primary is-fullwidth" lw-class:is-loading="isLoading"
         lw-on:click="resetPassword()">Change Password</button>
      <button class="button is-link is-inverted is-small is-fullwidth" lw-on:click="backToLogin()">Back to
         login</button>
   </div>
</div>